/QuizIFCliente/nbproject/private/
/QuizIFServidor/nbproject/private/
/QuizIFCliente/Logs
/QuizIFServidor/Logs
/QuizIFServidor/build/
/QuizIFCliente/build/
/QuizIFServidor/QuizIFDebug.debug
/QuizIFCliente/QuizIFDebug.debug
/Biblioteca/nbproject/private/
/Biblioteca/build/
/Biblioteca/dist/
