<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.quizifmobile">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".controller.InfoApp"
        android:allowBackup="true"
        android:icon="@drawable/quizif_logo_32"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher_background"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.ConfirmaSenhaActivity"
            android:label="@string/title_activity_confirma_senha"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".view.CadastroActivity"
            android:label="@string/title_activity_cadastro"
            android:parentActivityName=".view.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.quizifmobile.view.LoginActivity" />
        </activity>
        <activity
            android:name=".view.ConfirmaCodigoEmailActivity"
            android:label="@string/title_activity_confirma_codigo_email"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.ResultJogoActivity"
            android:label="@string/title_activity_result_jogo"
            android:parentActivityName=".view.PrincipalActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.quizifmobile.view.PrincipalActivity" />
        </activity>
        <activity
            android:name=".view.JogoActivity"
            android:label="QuizIFMobile - Jogo"
            android:parentActivityName=".view.PrincipalActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.quizifmobile.view.PrincipalActivity" />
        </activity>
        <activity
            android:name=".view.SobreNosActivity"
            android:label="@string/title_activity_sobre_nos"
            android:parentActivityName=".view.PerfilActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.quizifmobile.view.PerfilActivity" />
        </activity>
        <activity
            android:name=".view.PerfilActivity"
            android:label="@string/title_activity_perfil"
            android:parentActivityName=".view.PrincipalActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.quizifmobile.view.PrincipalActivity" />
        </activity>
        <activity
            android:name=".view.RankingActivity"
            android:label="@string/title_activity_ranking"
            android:parentActivityName=".view.PrincipalActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.quizifmobile.view.PrincipalActivity" />
        </activity>
        <activity
            android:name=".view.PrincipalActivity"
            android:label="@string/title_activity_principal"
            android:parentActivityName=".view.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.quizifmobile.view.LoginActivity" />
        </activity>
        <activity
            android:name=".view.LoginActivity"
            android:label="QuizIFMobile - Login"
            android:parentActivityName=".view.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.quizifmobile.view.MainActivity" />
        </activity>
        <activity
            android:name=".view.MainActivity"
            android:label="QuizIFMobile"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>